name: Python application

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Clone tests folder from another repository
        env:
          REPO_URL: https://github.com/eshonkulov-asliddin/demo-template-test.git
        run: |
          git clone --depth 1 $REPO_URL temp-repo
          cp -r temp-repo/ ./
          rm -rf temp-repo

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'  # Replace with desired Python version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Create directory for test results
        run: mkdir -p junit

      - name: Build stage
        id: build
        run: |
          echo "Running build stage"
          python test/test.py build 

      - name: Handle build failure
        if: failure()
        run: |
          echo "Build stage failed"
          echo "<?xml version=\"1.0\" encoding=\"UTF-8\"?>" > junit/test-results.xml
          echo "<testsuites>" >> junit/test-results.xml
          echo "<testsuite name=\"build\" tests=\"1\" failures=\"1\" errors=\"0\">" >> junit/test-results.xml
          echo "<testcase classname=\"build\" name=\"build-stage\">" >> junit/test-results.xml
          echo "<failure message=\"Build stage failed\"></failure>" >> junit/test-results.xml
          echo "</testcase>" >> junit/test-results.xml
          echo "</testsuite>" >> junit/test-results.xml
          echo "</testsuites>" >> junit/test-results.xml

      - name: Test with pytest
        if: success()
        run: pytest lab_01/test/test.py --doctest-modules --tb=short --junitxml=junit/test-results.xml

      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: junit/test-results.xml
        if: ${{ always() }}

      - name: Surface failing tests
        if: always()
        uses: pmeier/pytest-results-action@main
        with:
          path: junit/test-results.xml
          summary: true
          display-options: fEX
          fail-on-empty: true
          title: Test results
