name: Python application

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        name: Checkout Code

      - name: Set up Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Clone tests repository
        env:
          REPO_URL: https://github.com/eshonkulov-asliddin/demo-template-test.git
        run: |
          git clone --depth 1 $REPO_URL temp-repo
          # Verify the structure and copy the required files
          ls temp-repo  # List files to debug if the expected structure is correct
          mkdir -p tests
          cp -r temp-repo/test/* test/
          rm -rf temp-repo

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Create directory for test results
        run: mkdir -p junit

      - name: Run main Python script
        run: |
          echo "Running main script"
          python lab_01/main/main.py  # Adjust if there are specific arguments needed

      - name: Test with pytest
        run: |
          echo "Running tests"
          pytest tests/test.py --doctest-modules --tb=short --junitxml=junit/test-results.xml

      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: junit/test-results.xml
        if: ${{ always() }}

      - name: Surface failing tests
        if: always()
        uses: pmeier/pytest-results-action@main
        with:
          path: junit/test-results.xml
          summary: true
          display-options: fEX
          fail-on-empty: true
          title: Test results
